html, body {
  width: 100px;
}

.button {
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
}

.save:hover {
  background-color: #CFF2F2;
}

.save {
 background-color: #E5F2F2;
}

.restore {
 background-color: #FBFBC9;
}

.restore:hover {
 background-color: #EAEAC9;
}